@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #4D533C;
}

.header__content-02 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}

.header__content-01 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #152934;
}

.header .btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFD723;
}

.width {
  width: 51.45833%;
  width: 51.04167%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: cornflowerblue;
  position: relative;
}

.header {
  background: url(../images/background.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1440px;
      flex-basis: 1440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .container {
  padding-left: 11.45833%;
  padding-right: 11.52778%;
  width: 100%;
}

.header__nav {
  width: 1111px;
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.header .btn {
  background-color: transparent;
  display: inline-block;
  text-align: start;
  border: none;
  padding: 10px 10px 10px 0px;
  width: 150px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .btn span {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .btn span::after {
  content: "";
  width: 0.6em;
  height: 0.6em;
  clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 3% 0%);
  background-color: #FFD723;
  border-radius: 0.12em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  opacity: 0;
  top: 6.4px;
  left: -20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .btn:hover span {
  padding-left: 20px;
  text-decoration: underline;
}

.header .btn:hover span:after {
  opacity: 1;
  left: 0;
}

.header__content {
  max-width: 616px;
  margin-top: 130.96px;
  height: 100%;
  margin-bottom: 25.89396%;
}

.header__content-01 {
  margin: 0;
  color: #FFFFFF;
}

.header__content-02 {
  margin-top: 0;
  margin-bottom: 45px;
  color: #FFFFFF;
}

.header__content h1 {
  margin-top: 22px;
  margin-bottom: 24px;
  color: #FFFFFF;
}

.banner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 88.867%;
  width: 88.61111%;
  right: 0;
  background-color: #FFFFFF;
}

.banner__box {
  height: 227px;
  margin-right: 13.0094%;
  margin-left: 5.09404%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  width: 156px;
  height: 113px;
}
/*# sourceMappingURL=style.css.map */